*{
  text-align: center;
  color: white;
}

body{
  background-color: #2D3250;
}

input{
  color: navy;
  padding: 10px;
}

button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  color: white;
  background-color: crimson           ;
  transition: all 0.2s;
}
button:active
{
  scale: 0.9;
}